.button{
    padding: .8rem;
    border-radius: 25px;
}
.button.next :where(img){
    position: relative;
    left: 1px;
}

.button.prev :where(img){
    position: relative;
    left: -1px;
}

.button.next, .button.prev {
    /* padding: .8rem 2rem; */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.Light {
    background: rgb(0, 0, 0);
    border: 3px solid rgb(163, 163, 163);
    border-radius: 25px;
    color: white;
}

.button.Dark {
    background: rgb(249, 249, 249);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    color: rgb(0, 0, 0);
}
