.types_container {
    margin: auto;
    position: relative;
    top: -30px;
    left: 28px;
    overflow: hidden;
}

.pokemon_types{
    filter: opacity(15%);
    height: 110px;
}

.pokeball_card.bug{ fill: var(--color-secondary-bug); }
.pokeball_card.dark{ fill: var(--color-secondary-dark); }
.pokeball_card.electric{ fill: var(--color-secondary-electric); }
.pokeball_card.fairy{ fill: var(--color-secondary-fairy); }

.pokeball_card.fire{ fill: var(--color-secondary-fire); }
.pokeball_card.flying{ fill: var(--color-secondary-flying); }
.pokeball_card.fighting{ fill: var(--color-secondary-fighting); }
.pokeball_card.ghost { fill: var(--color-secondary-ghost ); }
.pokeball_card.grass{ fill: var(--color-secondary-grass); }

.pokeball_card.ground{ fill: var(--color-secondary-ground); }
.pokeball_card.ice{ fill: var(--color-secondary-ice); }
.pokeball_card.normal{ fill: var(--color-secondary-normal); }
.pokeball_card.poison { fill: var(--color-secondary-poison ); }
.pokeball_card.psychic{ fill: var(--color-secondary-psychic); }

.pokeball_card.rock{ fill: var(--color-secondary-rock); }
.pokeball_card.steel{ fill: var(--color-secondary-steel); }
.pokeball_card.water{ fill: var(--color-secondary-water); }
.pokeball_card.dragon{ fill: var(--color-secondary-dragon); }






