.pokeball_container {
    position: fixed;
    left: 12rem;
    right: 0;
    margin: 0 auto 18rem;
    /* padding-bottom: 20rem; */
    max-width: 200px;
}

.pokeball{ fill:rgb(24, 24, 24) }

.pokeball.bug{ fill: var(--color-secondary-bug); }
.pokeball.dark{ fill: var(--color-secondary-dark); }
.pokeball.electric{ fill: var(--color-secondary-electric); }
.pokeball.fairy{ fill: var(--color-secondary-fairy); }

.pokeball.fire{ fill: var(--color-secondary-fire); }
.pokeball.flying{ fill: var(--color-secondary-flying); }
.pokeball.fighting{ fill: var(--color-secondary-fighting); }
.pokeball.ghost { fill: var(--color-secondary-ghost ); }
.pokeball.grass{ fill: var(--color-secondary-grass); }

.pokeball.ground{ fill: var(--color-secondary-ground); }
.pokeball.ice{ fill: var(--color-secondary-ice); }
.pokeball.normal{ fill: var(--color-secondary-normal); }
.pokeball.poison { fill: var(--color-secondary-poison ); }
.pokeball.psychic{ fill: var(--color-secondary-psychic); }

.pokeball.rock{ fill: var(--color-secondary-rock); }
.pokeball.steel{ fill: var(--color-secondary-steel); }
.pokeball.water{ fill: var(--color-secondary-water); }
.pokeball.dragon{ fill: var(--color-secondary-dragon); }






